body {
  font-family: 'Raleway', sans-serif;
}
img {
  width: 30%;
  margin: calc(9%/6);
}
h1 {
  width: 30%;
  border-bottom: 2px solid #f1f1f1;
  margin-left: calc(9%/6);
  text-transform: uppercase;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}